-- BizMetrics360 Database Schema
CREATE TABLE IF NOT EXISTS revenue (id INTEGER PRIMARY KEY, date TEXT, revenue REAL, region TEXT);
CREATE TABLE IF NOT EXISTS customers (id INTEGER PRIMARY KEY, customer_id TEXT, is_active BOOLEAN, total_spent REAL);
CREATE TABLE IF NOT EXISTS marketing (id INTEGER PRIMARY KEY, channel TEXT, spend REAL, revenue REAL);
